# CREDENTIALS WEBCOM
USERNAME={{personeelsnummer}}
PASSWORD={{wachtwoord}}

# MAIL CONFIGURATION
SMTP_SERVER={{mail_server}}
SMTP_USERNAME={{mail_username}}
SMTP_PASSWORD={{mail_pass}}
MAIL_FROM={{mail_from}}
MAIL_TO={{mail_to}}
MAIL_ERROR_TO={{error_mail}}

# PREFERENCES
GECKO_IP=gecko_driver:4444
USE_EMAIL={{use_email}}
SEND_EMAIL_NEW_SHIFT={{new_shift}}
SEND_MAIL_UPDATED_SHIFT={{update_shift}}
SEND_MAIL_SIGNIN_FAILED=true
SEND_ERROR_MAIL=false
SEND_WELCOME_MAIL={{welcome_mail}}
BREAK_UP_NIGHT_SHIFT=false
SAVE_TARGET=./calendar/
FILENAME_APPEND_RANDOM_TEXT=true
RETRY_COUNT=8
DOMAIN="{% if unsecured == "false" %}{{ical_domain}}{% else %}{{unsecured_domain}}{% endif %}"
PDF_SHIFT_DOMAIN="https://emphisia.nl/shift/"
ICAL_USER="{% if unsecured == "false" %}{{ical_username}}{% endif %}"
ICAL_PASS="{{ical_password}}"
# IF SIGN IN FAILS, PROGRAM WILL ONLY RUN EVERY NTH TIME
SIGNIN_FAILED_REDUCE=2
# AFTER HOW MANY ATTEMPTS SHOULD IT RESEND THE FAILURE EMAIL
SIGNIN_FAIL_MAIL_REPEAT=24

# KUMA (EMPTY URL MEANS NO KUMA)
KUMA_URL="{{kuma_url}}"
KUMA_USERNAME="{{kuma_username}}"
KUMA_PASSWORD="{{kuma_password}}"
KUMA_HEARTBEAT_INTERVAL=4100
KUMA_HEARTBEAT_RETRY=2
KUMA_SMTP_SERVER="{{kuma_mail_server}}"
KUMA_SMTP_USERNAME="{{kuma_mail_username}}"
KUMA_SMTP_PASSWORD="{{kuma_mail_pass}}"
KUMA_MAIL_FROM="{{kuma_mail_from}}"
KUMA_MAIL_PORT="465"
KUMA_MAIL_SECURE="true"
