/target
.env
*.ics
previous_shifts.toml
sign_in_failure_count.toml
sign_in_failure_count.json
/calendar/*
*.pdf
/ansible/group_vars/all.yml
/ansible/inventory.ini
previous_domain
non_relevant_events
previous_execution_date
relevant_events
kuma_data.toml
.env.old
Error_bestanden
*.bkp
name