mail_server:
mail_username:
mail_pass:
mail_from:
error_mail:
ical_domain:
unsecured_domain:
ical_username:
ical_password:
save_target:
save_target_unsecure:
remote_username:
kuma_username:
kuma_password:
kuma_mail_server:
kuma_mail_username:
kuma_mail_pass:
kuma_mail_from:
kuma_url: