<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Webcom Ical Notification</title>
</head>
<body style="margin:0; padding:0; background-color:#f0f0f0; font-family: Verdana, sans-serif; color:#000000;">
  <!-- Main container without a visible border -->
  <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);">
    <!-- Header -->
    <tr>
      <td style="background-color:{banner_color}; color:#ffffff; text-align:center; padding:15px; font-size:24px; font-weight:bold;">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td width="50" align="left" style="padding-left:15px;">
              <img src="https://raw.githubusercontent.com/youpie/webcom_ical/refs/heads/main/assets/logo_white.png" alt="Logo" width="40" height="40" style="display:block;">
            </td>
            <td align="left" style="color:#ffffff; font-size:24px; font-weight:bold; padding-left:10px;">
              Webcom Ical
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Content -->
    <tr>
      <td style="padding:20px;">
        {content}
      </td>
    </tr>
      {footer}
    </tr>
  </table>
</body>
</html>
