<table width="100%" cellpadding="5" cellspacing="0" border="0" style="margin-bottom:20px;">
    <tr>
      <td style="font-size:16px; font-weight:bold; padding-bottom:10px;">Beste,</td>
    </tr>
    <tr>
      <td style="padding-bottom:10px;">Webcom Ical was niet in staat in te loggen op webcom, hierdoor is het al {signin_fail_ammount} keer niet gelukt om je shift{{single_plural}} in te laden.</td>
    </tr>
    <tr>
      <td style="padding-bottom:10px;"><strong>De fout is:</strong> {signin_error}</td>
    </tr>
    <tr>
      <td>Neem contact op met: <a href="mailto:{admin_email}" style="color:#003366; text-decoration:underline;">{admin_email}</a> voor meer informatie</td>
    </tr>
  </table>