<table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
      <td style="font-size:16px; font-weight:bold; padding-bottom:10px;">Hoi, </td>
    </tr>
    <tr>
      <td>Webcom Ical heeft al een tijdje niks van zich laten horen, het is mogelijk dat je nu tijdelijk geen mails krijgt bij nieuwe diensten, en je agenda wordt waarschijnlijk niet meer geüpdate tot nader bericht.</td>
    </tr>
    <tr>
        <td style="padding-bottom:10px;">Bekijk de actuele status op: <a href="{kuma_url}">{kuma_url}</a></td>
    </tr>
    <tr>
    <td style="padding-bottom:10px;"><strong>De fout is:</strong> {msg}</td>
    </tr>
  </table>