<tr>
    <td style="padding-top:10px;">
        <table width="100%" cellpadding="5" cellspacing="0" border="1" style="border-collapse:collapse; border-color:#cccccc;">
            <tr>
                <td width="35%" style="background-color:#eeeeee;"><strong>Dienst</strong></td>
                <td style="background-color:#eeeeee;">{shift_number}</td>
            </tr>
            <tr>
                <td style="background-color:#eeeeee;"><strong>Datum</strong></td>
                <td style="background-color:#eeeeee;">{shift_date}</td>
            </tr>
            <tr>
                <td style="background-color:#eeeeee;"><strong>Begintijd</strong></td>
                <td style="background-color:#eeeeee;">{shift_start}</td>
            </tr>
            <tr>
                <td style="background-color:#eeeeee;"><strong>Eindtijd</strong></td>
                <td style="background-color:#eeeeee;">{shift_end}</td>
            </tr>
            <tr>
                <td style="background-color:#eeeeee;"><strong>Duur</strong></td>
                <td style="background-color:#eeeeee;">{shift_duration_hour} uur {shift_duration_minute} minuten</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#eeeeee; text-align:center;">
                    <a href="{shift_link}" style="color:#003366; text-decoration:none; font-weight:bold;">Bekijk dienst</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
